:root {
    --primary-color: #3e6391;
    --secondary-color: #d29342;
    --background-color: whitesmoke;
    --primary-text-color: #0a3758;
    --secondary-text-color: #008080;
    --hover: #b84b35;
    --active: #701300;
}

h3 {
    display: inline-block;
}

.movie-view-header {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.movie-release-year {
    font-weight: 400;
    font-style: italic;
    margin-left: 0.5rem;
}

.movie-view-content {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.label {
    font-size: 1.1rem;
    font-weight: 600;
}

.back-btn {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.2rem 0.5rem;
    margin-top: 0.8rem;
}

.back-btn:hover, .back-btn:focus {
    cursor: pointer;
    background-color: var(--hover);
}

.back-btn:active {
    background-color: var(--active);
}