:root {
    --primary-color: #3e6391;
    --secondary-color: #d29342;
    --background-color: whitesmoke;
    --primary-text-color: #0a3758;
    --secondary-text-color: #008080;
    --hover: #b84b35;
    --active: #701300;
}

* {
    box-sizing: border-box;
}

body {
    margin: 1rem;
}

.container-fluid {
    padding: 1rem;
}

.navbar {
    border-bottom: 2px solid var(--primary-text-color);
    margin-bottom: 2rem;
}

.navbar-light .navbar-brand {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}


.btn-link {
    color: var(--secondary-text-color);
}

.btn-link:hover, .btn-link:focus {
    color: var(--hover);
}

.btn-link:active {
    color: var(--active);
}

.col-sm-9 {
    padding: 0;
}

.col-md-3 {
    padding: 0;
}


@media (max-width: 576px) {

    body {
        margin: 0.7rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        display: block;
        font-size: 1.3rem;
    }
    
    h5 {
        font-size: 1.1rem;
    }

    .navbar {
        font-weight: 500;
        padding-left: 0;
    }

    .navbar-light .navbar-brand {
        font-size: 1.2rem;
        color: var(--primary-text-color);
    }

    .login-reg-heading {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .form-group {
        margin-bottom: 0.6rem;
    }

    .label:first-child {
        font-size: 1.1rem;
        margin-top: 0.5rem;
    }

    .value {
        font-size: 0.9rem;
    }

    .login-reg-button {
        font-size: 1rem;
        margin-top: 1.2rem;
        margin-bottom: 0.8rem;
    }

    .card-body {
        padding: 0.9rem;
    }

    .card-title {
        margin-bottom: 0;
    }

    .card-subtitle {
        line-height: 0.8rem;
    }

    .description {
        height: 3rem;
    }

    .line-clamp {
        -webkit-line-clamp: 2;
    }

    .more-details-btn, .back-btn {
        font-size: 0.9rem;
        padding: 0.15rem 0.4rem;
        margin-top: 0.5rem;
    }

    .movie-view-header {
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
    }

    .movie-release-year {
        margin-left: 0;
        margin-bottom: 0;
    }

    .movie-poster {
        margin-bottom: 0.8rem;
    }

    .movie-view-content {
        margin-bottom: 0;
    }

    .director-name, .director-bio, .actor-name, .actor-bio {
        margin-top: 0.8rem;
    }

    .back-button {
        align-self: flex-end;
    }

}