:root {
    --primary-color: #3e6391;
    --secondary-color: #d29342;
    --background-color: whitesmoke;
    --primary-text-color: #0a3758;
    --secondary-text-color: #008080;
    --hover: #b84b35;
    --active: #701300;
}

body {
    background-color: var(--background-color);
}

.card {
    padding: 0;
    margin-top: 0.8rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.title {
    height: 2.5rem;
    color: var(--primary-text-color);
    margin-bottom: 1.25rem;
}

.release-year {
    height: 2rem;
    font-size: 1rem;
    font-style: italic;
    color: var(--primary-text-color);
}

.description {
    height: 4.5rem;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.more-details-btn {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.2rem 0.5rem;
    margin-top: 0.8rem;
}

.more-details-btn:hover, .more-details-btn:focus {
    cursor: pointer;
    background-color: var(--hover);
}

.more-details-btn:active {
    background-color: var(--active);
}
