img {
    width: 100%;
}

.actor-view {
    max-width: 800px;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
}

.actor-birth-death {
    font-weight: 400;
    font-style: italic;
}

.actor-bio {
    padding: 0;
}

.back-button {
    font-size: 1rem;
    background-color: var(--secondary-color);
    border: none;
    padding: 0.5rem 0.5rem;
    margin-top: 0.8rem;
}

.back-button:hover, .back-button:focus {
    cursor: pointer;
    background-color: var(--hover);
}

.back-button:active {
    background-color: var(--active);
}